*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}

html {
    -webkit-text-size-adjust: 100%; /* Impede aumento automático do texto */
    text-size-adjust: 100%;
}

header {
    background-color: #e6e6e6;
    padding: 10px 20px;
}

.navbar > a {
    all: unset;        /* Remove TODO estilo de link/botão */
    cursor: pointer;   /* Mantém apenas o clique */
}

.navbar > a .logo {
    color: black;      /* Garante que o texto fique normal */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 64px;
    line-height: normal;       /* AUTO */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 48px;
    line-height: normal;       /* AUTO */
}

.header-text {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 24px;           /* Cabeçalho */
    line-height: 96px;         /* Altura → 96 */
    margin-bottom: 0;          /* Espaçamento → 0% */
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;          /* Regular */
    font-size: 24px;
    line-height: 130%;         /* 30% acima → 24 * 1.3 */
}

button {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 24px;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    gap: 50px; 
    margin-right: 430px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: rgba(102, 100, 100, 0.767);
    font-size: 20px;
}

