* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}

.divisor-2 {
    width: 100%;
    height: 1px;
    background-color: #494949c1;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #000;
}

/* NAVBAR ----------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: #ffffff;        
    color: #000;                
    border-bottom: 1px solid #e3e3e3;  
    position: relative;
}

.navbar nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar > nav > a {
    margin-left: 40px;
    text-decoration: none;
    color: #9c9c9c;     
    font-size: 15px;
    font-weight: 300;
}

.navbar nav a:hover {
    color: #000;
}

/* BANNER PRINCIPAL -------------------------- */
.banner img {
    width: 100%;
    display: block;
}

/* GRID -------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.grid img {
    width: 100%;
    display: block;
}

/* BANNER GRANDE ----------------------------- */
.banner-large img {
    width: 100%;
    display: block;
    margin-top: 20px;
}

/* FOOTER ------------------------------------ */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px; 
    background: #f3f3f3;
}

.footer-section {
    width: 45%; 
    font-size: 13px;
    line-height: 1.6;
    color: #555;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}


.input-wrapper {
    margin-top: 10px; 
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
    position: relative;
}


.footer-explore {
    text-align: center;
    padding: 40px 40px 10px 40px; 
    background: #f3f3f3;
    
    border-top: 1px solid #dcdcdc; 
}

.footer-explore p {
    display: inline-block;
    color: #000;
    font-size: 14px;
    margin: 0 10px;
}

.footer-explore a {
    text-decoration: none;
    color: #000;
    padding: 0 5px;
    font-size: 14px;
}

.footer-explore p:first-child a {
     border: 1px solid #c9c9c9;
     padding: 5px 10px;
}

.footer-bottom {
    display: flex;
    justify-content: flex-start;
    padding: 15px 40px;
    background: #f3f3f3;
    font-size: 12px;
    border-top: 1px solid #dcdcdc; 
}

.footer-bottom p:nth-child(2) {
    display: none;
}


.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
    position: relative;
}

.input-wrapper label {
    font-size: 14px;
    margin-right: 10px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.input-wrapper .arrow {
    font-size: 19px;
    margin-left: 10px;
}

.footer-explore{
    text-align: center;
}
