/* parte do kill */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}

header {
    background-color: #e6e6e6;
    padding: 10px 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 64px;
    line-height: normal;       /* AUTO */
}


h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 48px;
    line-height: normal;       /* AUTO */
}

.header-text {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 24px;           /* Cabeçalho */
    line-height: 96px;         /* Altura → 96 */
    margin-bottom: 0;          /* Espaçamento → 0% */
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;          /* Regular */
    font-size: 24px;
    line-height: 130%;         /* 30% acima → 24 * 1.3 */
}

button {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;          /* SemiBold */
    font-size: 24px;
}

h1.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: normal;
    text-decoration: none;
    color: inherit;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    gap: 50px; 
    margin-right: 430px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: rgba(102, 100, 100, 0.767);
    font-size: 20px;
}



.imagens{
    position: fixed;
}

.img-1{
    background-image: url(Assets/image\ 1.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.img-2{
    background-image: url(Assets/image\ 2.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-3{
    background-image: url(Assets/image\ 3.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}

.container-3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.p-left,
.p-right{
    width: 45%;
}

.footer{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    width: 200px;

}

.navs{
    padding: 1%;
    color: rgba(102, 100, 100, 0.767);
}

.container-all{
    display: flex;
    text-align: start;
}

.container-left{
    display: flex;
   
}

.container-right{
    display: flex;
   
}

.left {
    width: 50%;
}

.left img {
    width: 100%;
    display: block; 
}

.right {
    width: 50%;
    padding: 40px;
}




































/* parte do kill */

/* parte do masseto */