/* parte do kill */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.divisor-2 {
    width: 100%;
    height: 1px;
    background-color: #494949c1;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: normal;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: normal;
}

header,
.header-text {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 96px;
    margin-bottom: 0;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
}

button {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
}

body {
    background: #ffffff;
    color: #333;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: #ffffff;
    color: #000;

    position: relative;
}

.navbar nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar>nav>a {
    margin-left: 40px;
    text-decoration: none;
    color: #9c9c9c;
    font-size: 15px;
    font-weight: 300;
}

.navbar nav a:hover {
    color: #000;
}

/* --------------------------------------------------------------------------------- */

.imagens {
    position: fixed;
}

.img-1 {
    background-image: url(Assets/image\ 1.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.img-2 {
    background-image: url(Assets/image\ 2.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-3 {
    background-image: url(Assets/image\ 3.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}

.container-3 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.p-left,
.p-right {
    width: 45%;
}

.footer {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    width: 200px;

}

.navs {
    padding: 1%;
    color: rgba(102, 100, 100, 0.767);
}


.container-all {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bags {
    width: 70%;
    text-align: center;
}


.title-bags>h2 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}


.paragrafo-bags {
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}


.paragrafo-bags-2 {
    font-size: 11px;
    margin-top: 5px;
    color: #555;
}


.paragrafo-bags-3 {
    font-size: 11px;
    color: #777;
    margin-bottom: 30px;
}


.divisor-3 {
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
}


.itens {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
}


.seta {
    font-size: 12px;
    color: #333;
    transform: translateY(1px);
}


.container-explore {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    justify-content: center;
}

.container-explore-2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.container-ex-left img {
    width: 350px;
    height: auto;
    margin-bottom: 30px;
}

.container-ex-right {
    max-width: 550px;
    text-align: left;
}

.container-ex-right h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.container-ex-right p {
    font-size: 15px;
    line-height: 1.4;
}

.container-ex-3 {
     margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.container-ex-left-2{
    padding-right: 350px;
}

.container-ex-right-2{
    margin-right: 100px;
}

.container-ex-left-2 > h3{
    font-size: 17px;
    margin-bottom: 20px;
}

.container-ex-left-2 > p{
    font-size: 15px;
    margin-bottom: 30px;
}

.container-ex-right-2 > p{
    font-size: 15px;
    margin-bottom: 20px;
}

.container-ex-right-2 > h3{
    font-size: 17px;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}

.input-wrapper label {
    font-size: 14px;
    margin-right: 10px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.input-wrapper .arrow {
    font-size: 19px;
    margin-left: 10px;
}

.footer-explore{
    text-align: center;
}

.footer-explore > p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-explore > p{
    margin-left: 10px;
    font-size: 17px;
}





































/* parte do kill */

/* parte do masseto */