*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}
.top-nav{

    background-color: #e5e5e5e5;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.nav-links{
   
    padding: 0 15px;
    font-size: 14px;
}

.nav-title{
    font-size: 25px;
}

.container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40PX;
}

.container-2{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.container > h1{
    
}

.container > h2{
    margin-top: 15px;
}

.container > h2{
    font-size: large;
}

.container > img{
    
}
