* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #ffffff;
    color: #333;
}

.divisor-2 {
    width: 100%;
    height: 1px;
    background-color: #494949c1;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #000;
}

/* NAVBAR ----------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: #ffffff;        
    color: #000;                
    border-bottom: 1px solid #e3e3e3;  
    position: relative;
}

.navbar nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar > nav > a {
    margin-left: 40px;
    text-decoration: none;
    color: #9c9c9c;     
    font-size: 15px;
    font-weight: 300;
}

.navbar nav a:hover {
    color: #000;
}

/* BANNER PRINCIPAL -------------------------- */
.banner img {
    width: 100%;
    display: block;
}

/* GRID -------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.grid img {
    width: 100%;
    display: block;
}

/* BANNER GRANDE ----------------------------- */
.banner-large img {
    width: 100%;
    display: block;
    margin-top: 20px;
}

/* FOOTER ------------------------------------ */

.container-ex-3 {
     margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 50px;
}

.container-ex-left-2{
    padding-right: 350px;
}

.container-ex-left-2 > h3{
    font-size: 17px;
    margin-bottom: 20px;
}

.container-ex-left-2 > p{
    font-size: 15px;
    margin-bottom: 30px;
}

.container-ex-right-2{
    margin-right: 100px;
}

.container-ex-right-2 > p{
    font-size: 15px;
    margin-bottom: 20px;
}

.container-ex-right-2 > h3{
    font-size: 17px;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    width: 300px;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}

.input-wrapper label {
    font-size: 14px;
    margin-right: 10px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}

.input-wrapper .arrow {
    font-size: 19px;
    margin-left: 10px;
}

.footer-explore{
    text-align: center;
}

.footer-explore > p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-explore > p{
    margin-left: 10px;
    font-size: 17px;
}