/* parte do kill */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}
header {
    background-color: #e6e6e6;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.navbar > a {
    all: unset; 
    cursor: pointer;
}

.navbar > a > .logo {
    color: black;
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    gap: 50px; 
    margin-right: 430px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: rgba(102, 100, 100, 0.767);
    font-size: 20px;
}



.imagens{
    position: fixed;
}

.img-1{
    background-image: url(Assets/image\ 1.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.img-2{
    background-image: url(Assets/image\ 2.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-3{
    background-image: url(Assets/image\ 3.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}

.container-3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.p-left,
.p-right{
    width: 45%;
}

.footer{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    width: 200px;

}

.navs{
    padding: 1%;
    color: rgba(102, 100, 100, 0.767);
}


.container-all {
    display: flex;
    width: 100%;
    height: 100vh;
}


.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-bags {
    width: 70%;
    text-align: center;
}


.title-bags > h2 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}


.paragrafo-bags {
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}


.paragrafo-bags-2 {
    font-size: 11px;
    margin-top: 5px;
    color: #555;
}


.paragrafo-bags-3 {
    font-size: 11px;
    color: #777;
    margin-bottom: 30px;
}


.divisor {
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
    margin: 18px 0;
}


.itens {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
}
    

.seta {
    font-size: 12px;
    color: #333;
    transform: translateY(1px);
}

/* Bloco do título e texto no canto */
.formulario {
    width: 450px;
    margin: 40px auto;
    position: relative;
}

/* Título */
.formulario h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    width: 80%;
    margin-bottom: 20px;
}

/* Texto "*Campo obrigatório" */
.informacao-necessaria {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #7a7a7a;
    position: absolute;
    top: 0;
    right: 0;
}

/* Formulário (embaixo do título) */
form {
    width: 450px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}

/* Labels */
form label {
    display: block;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Inputs estilo linha */
form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 8px 0;
    font-size: 16px;
    background: transparent;
    outline: none;
}

/* Botão */
form button {
    margin-top: 25px;
    width: 100%;
    height: 42px;
    background: #2e2e2e;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    opacity: 0.85;
}

.container-explore{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    justify-content: center;
}

.divisor-2 {
    width: 100%;
    height: 1px;
    background-color: rgb(72, 71, 71);
    margin: 18px 0;
}





































/* parte do kill */

/* parte do masseto */