/* parte do kill */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}
header {
    background-color: #e6e6e6;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    text-decoration: none;
    color: black;
}

.menu {
    display: flex;
    gap: 50px; 
    margin-right: 430px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: rgba(102, 100, 100, 0.767);
    font-size: 20px;
}



.imagens{
    position: fixed;
}

.img-1{
    background-image: url(Assets/image\ 1.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.img-2{
    background-image: url(Assets/image\ 2.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.img-3{
    background-image: url(Assets/image\ 3.png);
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 100px;
}

.container-3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.p-left,
.p-right{
    width: 45%;
}

.footer{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 45%;
    margin-right: 45%;
    width: 200px;

}

.navs{
    padding: 1%;
    color: rgba(102, 100, 100, 0.767);
}


.container-all {
    display: flex;
    width: 100%;
    height: 100vh;
}


.left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-bags {
    width: 70%;
    text-align: center;
}


.title-bags > h2 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
}


.paragrafo-bags {
    font-size: 13px;
    color: #444;
    margin-bottom: 5px;
}


.paragrafo-bags-2 {
    font-size: 11px;
    margin-top: 5px;
    color: #555;
}


.paragrafo-bags-3 {
    font-size: 11px;
    color: #777;
    margin-bottom: 30px;
}


.divisor {
    width: 100%;
    height: 1px;
    background-color: #d6d6d6;
    margin: 18px 0;
}


.itens {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
}
    

.seta {
    font-size: 12px;
    color: #333;
    transform: translateY(1px);
}




































/* parte do kill */

/* parte do masseto */