*{
padding: 0;
margin: 0;
box-sizing: border-box;
outline: 0;
background-color: #e5e5e5e5;
}
header {
    background-color: #e6e6e6;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.logo {
    font-size: 32px;
    margin: 0;
}

.menu {
    display: flex;
    gap: 50px; 
    margin-right: 430px;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}



.imagens{
    position: fixed;
}

.img-1{
    background-image: url(image\ 1.png);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}